<?xml version="1.0" encoding="UTF-8"?>
<!--
  WiX v3 fragment consumed by cargo-packager 0.11.8. The packager owns the
  automexia.exe, PATH, shortcut, automexia://, upgrade, and uninstall entries;
  this fragment adds the Explorer launch surfaces and pinned Microsoft transport.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="AutomexiaConptyComponent" Guid="*" Win64="yes">
        <File Id="AutomexiaConpty" Source="$(env.AUTOMEXIA_CONPTY_ROOT)\conpty.dll" Name="conpty.dll" KeyPath="yes" />
      </Component>
      <Directory Id="AutomexiaConptyX64Folder" Name="x64">
        <Component Id="AutomexiaConptyX64HostComponent" Guid="*" Win64="yes">
          <File Id="AutomexiaConptyX64Host" Source="$(env.AUTOMEXIA_CONPTY_ROOT)\x64\OpenConsole.exe" Name="OpenConsole.exe" KeyPath="yes" />
        </Component>
      </Directory>
      <Directory Id="AutomexiaConptyArm64Folder" Name="arm64">
        <Component Id="AutomexiaConptyArm64HostComponent" Guid="*" Win64="yes">
          <File Id="AutomexiaConptyArm64Host" Source="$(env.AUTOMEXIA_CONPTY_ROOT)\arm64\OpenConsole.exe" Name="OpenConsole.exe" KeyPath="yes" />
        </Component>
      </Directory>
      <Component Id="AutomexiaDirectoryContextMenu" Guid="*" Win64="yes">
        <Environment Id="AutomexiaPath"
                     Name="PATH"
                     Value="[INSTALLDIR]"
                     Action="set"
                     Part="last"
                     Permanent="no"
                     System="yes" />
        <RegistryKey Root="HKLM" Key="Software\Classes\Directory\shell\AutomexiaTerminal">
          <RegistryValue Type="string" Value="Open Automexia Terminal here" KeyPath="yes" />
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[!Path]&quot; --working-dir &quot;%1&quot;" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\automexia">
          <RegistryValue Type="string" Name="URL Protocol" Value="" />
          <RegistryValue Type="string" Value="URL:Automexia Terminal protocol" />
          <RegistryKey Key="DefaultIcon">
            <RegistryValue Type="string" Value="&quot;[!Path]&quot;,0" />
          </RegistryKey>
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string" Value="&quot;[!Path]&quot; &quot;%1&quot;" />
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="AutomexiaBackgroundContextMenu" Guid="*" Win64="yes">
        <RegistryKey Root="HKLM" Key="Software\Classes\Directory\Background\shell\AutomexiaTerminal">
          <RegistryValue Type="string" Value="Open Automexia Terminal here" KeyPath="yes" />
          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="&quot;[!Path]&quot; --working-dir &quot;%V&quot;" />
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="AutomexiaContextMenuComponents">
      <ComponentRef Id="AutomexiaConptyComponent" />
      <ComponentRef Id="AutomexiaConptyX64HostComponent" />
      <ComponentRef Id="AutomexiaConptyArm64HostComponent" />
      <ComponentRef Id="AutomexiaDirectoryContextMenu" />
      <ComponentRef Id="AutomexiaBackgroundContextMenu" />
    </ComponentGroup>
  </Fragment>
</Wix>
